{
  "api_key" : "",
  "bot_name" : "",
  "send_help_as_dm" : "1",
  "admin_users" : [],
  "auto_invite" : [],
  "wolfram_app_id" : "",
  "archive_ctf_reminder_offset" : "168",
  "archive_everything": true,
  "delete_watch_keywords" : "",
  "intro_message" : "",
  "private_ctfs": false
  "maintenance_mode": false
}
